{
    admin 0.0.0.0:2019
    debug
}

*.emriss.cloud {
        tls {
                dns cloudflare {env.CLOUDFLARE_API_TOKEN}
                propagation_delay 2m
                resolvers 1.1.1.1
        }

        handle bugbear.emriss.cloud {
            reverse_proxy http://10.19.0.1:80
        }

        handle nas.emriss.cloud {
            reverse_proxy 10.19.0.2:5001
        }

        handle portainer-threshold.emriss.cloud {
            reverse_proxy 10.19.0.4:59000
        }

        handle pihole.emriss.cloud {
            redir / /admin{uri}
            reverse_proxy https://10.19.0.4:59001 {
                transport http {
                    tls
                    tls_insecure_skip_verify
                }
            }
        }
}